<div class="col-lg-4 mb-5" style="float:left">
  <div class="Table Booked">
    <div class="Booking">
      <h3 class="Booking">{{TableBooking}}</h3>
    </div>
<footer>
  <p>TRESBIEN
Pinhal do Concelho
8200-912 Albufeira, Portugal

GENERAL

Tel. (+351) 289 141 100</p>
  <p><a href="mailto:tresbien@luxurycollection.com">tresbien@luxurycollection.com</a></p>
</footer>      <a href="/">
      <a href="/tables/{{_id}}">
        <button class="btn btn-home btn-lg">Home</button>
      </a>
    </div>
  </div>
</div>
{{!-- ////////////////////////////////////////////////////////////////////////
///////////////////////////// BOOKED TABLE /////////////////////////
////////////////////////////////////////////////////////////////////////
