<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/tablestyle.css" />
  <link rel="stylesheet" href="/stylesheets/login&signup.css" />
  <link rel="stylesheet" href="/stylesheets/about.css" />
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
  <link rel="stylesheet" href="/stylesheets/wickedpicker.css" />
  <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>  
{{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>